*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* UTILITY CLASSES */

h1, h2 {
    font-weight: 800;
}

.white{
    color: white;
}

.separator {
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    opacity: 1;
}

.bg-acquamarino{
    background-color: rgb(60, 160, 138);
}

/* HEADER CLASSES */

header {
    color: white;
    background-color: rgb(64, 64, 88);
}

header i {
    border: 1px solid white;
    padding: 5px;
    color: gray;
}

/* MAIN CLASSES */

.button {
    border: 1px solid;
    border-radius: 5px;
}

/* FOOTER CLASSES */