*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* UTILITY CLASSES */

h1, h2 {
    font-weight: 800;
}

.separator {
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    opacity: 1;
}

.bg-acquamarino{
    background-color: rgb(60, 160, 138);
}

ul {
    list-style-type: none;
}

/* HEADER CLASSES */

header {
    color: white;
    background-color: rgb(64, 64, 88);
}

header i {
    border: 1px solid white;
    padding: 5px;
    color: gray;
}

/* MAIN CLASSES */
#avatar-container {
    width: 15rem;
}

/* FOOTER CLASSES */

footer {
    background-color: rgb(76, 76, 114);
}

footer i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

/* footer span{
    color: rgb(60, 160, 138);
} */

#copyright{
    background-color: rgb(40, 40, 63);
}