*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */

.white{
    color: white;
}

.darkblue{
    color: rgb(28, 28, 71);
}

.separator {
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    opacity: 1;
}

.bg-acquamarino{
    background-color: rgb(60, 160, 138);
}

/* HEADER CLASSES */

header {
    color: white;
    background-color: rgb(64, 64, 88);
}

header i {
    border: 1px solid white;
    padding: 5px;
    color: gray;
}

.content img{
    max-width: 100%;
}

h1 {
    font-weight: 800;
}

/* MAIN CLASSES */

/* FOOTER CLASSES */